<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<h2>Account recovery</h2>
<h4>Recover your account within a minute</h4>
<div class="container shadow border p-3 mb-5">


    <div class="alert alert-warning">
        <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_reset_message'}" />
    </div>

    <f:render partial="ValidationErrors" />

    <f:form action="recovery" method="post">
        <fieldset class="mb-3">
            <div class="form-floating mb-3">
                <f:form.textfield name="userIdentifier" id="tx-felogin-input-data" class="form-control"
                    required="required" placeholder="{f:translate(domain: felogin.messages, key: 'enter_your_data')}" />
                <label for="tx-felogin-input-data">
                    <f:translate domain="felogin.messages" key="enter_your_data" />
                </label>
            </div>
            <div>
                <f:form.submit class="btn btn-lg btn-primary" name="submit"
                    value="{f:translate(domain: 'felogin.messages', key: 'reset_password')}" />
            </div>
        </fieldset>
    </f:form>

    <p>
        <f:link.action action="login" controller="Login">
            <f:translate domain="felogin.messages" key="forgot_header_backToLogin" />
        </f:link.action>
    </p>

</div>

</html>